<h1> Impacts of the 2015 Nepal Earthquake

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('community-perceptions-in-earthquake-affected-nepal-round-3-1.xlsx', 
                   sheet_name='uploaded_form_g54cmb')

In [3]:
df.head()

,Name_of_interviewer,Agency,Date,Record_Location,_Record_Location_latitude,_Record_Location_longitude,_Record_Location_altitude,_Record_Location_precision,District,VDC_Municipality,...,This_is_the_end_of_the_survey_,meta/instanceID,_id,_uuid,_submission_time,_index,_parent_table_name,_parent_index,_tags,_notes
0,Suruchi Pant,accountability,2015-09-30,NaN,NaN,NaN,NaN,NaN,Kathmandu,Satungal,...,NaN,uuid:e729f3e9-0cd8-41e3-8a86-2ef3465b6110,736272,e729f3e9-0cd8-41e3-8a86-2ef3465b6110,2015-09-30T12:25:57,1,NaN,-1,NaN,NaN
1,Suruchi Pant,accountability,2015-09-26,NaN,NaN,NaN,NaN,NaN,Kathmandu,Satungal,...,NaN,uuid:c7a0ec0f-2773-4947-8b2b-050eb6b4d659,736268,c7a0ec0f-2773-4947-8b2b-050eb6b4d659,2015-09-30T12:23:55,2,NaN,-1,NaN,NaN
2,Suruchi Pant,accountability,2015-09-26,NaN,NaN,NaN,NaN,NaN,Kathmandu,Satungal,...,NaN,uuid:f1c63191-cbdb-4e52-ba33-5cf125939c8b,736262,f1c63191-cbdb-4e52-ba33-5cf125939c8b,2015-09-30T12:21:46,3,NaN,-1,NaN,NaN
3,Jharana RaI,accountability,2015-09-28,NaN,NaN,NaN,NaN,NaN,Kathmandu,Jhormahankal,...,NaN,uuid:83625573-4b20-4876-b18d-c75789103218,736160,83625573-4b20-4876-b18d-c75789103218,2015-09-30T12:17:23,4,NaN,-1,NaN,NaN
4,Anjal Bhatta,accountability,2015-09-28,NaN,NaN,NaN,NaN,NaN,Kathmandu,Jhormahankal,...,NaN,uuid:508a6969-7f7b-4fac-8803-c1993fc410fe,736147,508a6969-7f7b-4fac-8803-c1993fc410fe,2015-09-30T12:15:20,5,NaN,-1,NaN,NaN

Drop Columns where 70% of the values are NaN

In [4]:
df = df.loc[:, df.isnull().sum() < 0.7*df.shape[0]]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 37 columns):
Name_of_interviewer                1400 non-null object
Agency                             1400 non-null object
Date                               1400 non-null datetime64[ns]
District                           1400 non-null object
VDC_Municipality                   1400 non-null object
Ward_                              1400 non-null int64
Age                                1400 non-null object
Gender                             1400 non-null object
Caste_ethnicity                    1400 non-null object
Occupation                         1400 non-null object
Do_you_have_any_health_problem     1400 non-null object
_1_Are_your_main_problems_bein     1400 non-null object
_1a_What_is_your_biggest_probl     1125 non-null object
_1b_What_is_your_second_biggest    1125 non-null object
_1c_What_is_your_third_biggest_    1125 non-null object
_2_Satisfied_with_gov              1400 non-null object
_2a_Top_thing_gov                  979 non-null object
_2b_Second_thing_gov               979 non-null object
_3_Do_you_have_information         1400 non-null object
_3a_Top_need_info                  802 non-null object
_3b_Second_need_info               802 non-null object
_4_Satisfied_with_NGOs             1400 non-null object
_4a_Top_need_NGOs                  815 non-null object
_4b_Second_need_NGOs               815 non-null object
_5_Is_support_fair                 1400 non-null object
_5a_Top_reason_not_fair            721 non-null object
_5b_Second_reason_not_fair         721 non-null object
_6_Prepared_for_                   1400 non-null object
_7_Have_been_heard                 1400 non-null object
_8_Relief_effort_progress          1400 non-null object
_9_Main_problems_women             472 non-null object
meta/instanceID                    1400 non-null object
_id                                1400 non-null int64
_uuid                              1400 non-null object
_submission_time                   1400 non-null object
_index                             1400 non-null int64
_parent_index                      1400 non-null int64
dtypes: datetime64[ns](1), int64(4), object(32)
memory usage: 404.8+ KB

<h3> Drop irrelevant columns </h3>

In [5]:
# All data from 2015
(pd.DatetimeIndex(df['Date']).year).unique()

Int64Index([2015], dtype='int64', name='Date')

In [6]:
df.drop(['Name_of_interviewer', 'Agency', 'Date', 'meta/instanceID', '_id', '_uuid','_submission_time', 
        '_index', '_parent_index'], axis=1, inplace=True)

In [7]:
df.head(20)

,District,VDC_Municipality,Ward_,Age,Gender,Caste_ethnicity,Occupation,Do_you_have_any_health_problem,_1_Are_your_main_problems_bein,_1a_What_is_your_biggest_probl,...,_4_Satisfied_with_NGOs,_4a_Top_need_NGOs,_4b_Second_need_NGOs,_5_Is_support_fair,_5a_Top_reason_not_fair,_5b_Second_reason_not_fair,_6_Prepared_for_,_7_Have_been_heard,_8_Relief_effort_progress,_9_Main_problems_women
0,Kathmandu,Satungal,1,40_54,female,Newar,other,no_difficulty,1___not_at_all,long_term_shelter__housing,...,4___mostly_yes,NaN,NaN,don_t_know,NaN,NaN,4___mostly_yes,1___not_at_all,don_t_know,1___not_at_all
1,Kathmandu,Satungal,1,55_greater,male,Newar,skilled_worker,no_difficulty,2___very_little,long_term_shelter__housing,...,2___very_little,building_mater,food_aid,2___very_little,based_on_caste,based_on_polit,4___mostly_yes,2___not_very_m,2___very_little,NaN
2,Kathmandu,Satungal,1,55_greater,male,Newar,skilled_worker,no_difficulty,2___very_little,long_term_shelter__housing,...,4___mostly_yes,NaN,NaN,2___very_little,based_on_caste,based_on_polit,4___mostly_yes,1___not_at_all,1___not_at_all,NaN
3,Kathmandu,Jhormahankal,2,15_24,female,Tamang,other,yes__some_diff,3___neutral,long_term_shelter__housing,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_dista,first_come__fi,4___mostly_yes,3___neutral,3___neutral,4___mostly_yes
4,Kathmandu,Jhormahankal,2,25_39,female,Tamang,other,no_difficulty,3___neutral,short_term_she,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_polit,first_come__fi,4___mostly_yes,3___neutral,2___very_little,4___mostly_yes
5,Kathmandu,Jhormahankal,2,40_54,female,Tamang,other,no_difficulty,1___not_at_all,long_term_shelter__housing,...,2___very_little,building_mater,cash_for_work,2___very_little,first_come__fi,based_on_polit,3___neutral,3___neutral,2___very_little,3___neutral
6,Kathmandu,Jhormahankal,2,40_54,male,Tamang,farmer_laborer,yes__some_diff,3___neutral,short_term_she,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_polit,based_on_dista,4___mostly_yes,3___neutral,3___neutral,NaN
7,Kathmandu,Jhormahankal,2,40_54,female,Tamang,other,no_difficulty,3___neutral,long_term_shelter__housing,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_polit,based_on_dista,3___neutral,3___neutral,3___neutral,3___neutral
8,Kathmandu,Sitapaila,8,25_39,female,Tamang,other,no_difficulty,3___neutral,long_term_shelter__housing,...,3___neutral,building_mater,cash_for_work,4___mostly_yes,NaN,NaN,4___mostly_yes,3___neutral,3___neutral,3___neutral
9,Kathmandu,Sitapaila,8,55_greater,female,Tamang,other,no_difficulty,3___neutral,long_term_shelter__housing,...,2___very_little,building_mater,cash_for_work,4___mostly_yes,NaN,NaN,4___mostly_yes,3___neutral,3___neutral,3___neutral
10,Kathmandu,Sitapaila,8,55_greater,female,Tamang,other,no_difficulty,3___neutral,long_term_shelter__housing,...,2___very_little,building_mater,cash_for_work,4___mostly_yes,NaN,NaN,4___mostly_yes,3___neutral,3___neutral,NaN
11,Kathmandu,Sitapaila,8,25_39,female,Brahmin,other,yes__some_diff,3___neutral,long_term_shelter__housing,...,3___neutral,building_mater,cash_for_work,4___mostly_yes,NaN,NaN,4___mostly_yes,3___neutral,3___neutral,3___neutral
12,Kathmandu,Dharmasthali,1,refused,male,Newar,farmer_laborer,yes__some_diff,1___not_at_all,long_term_shelter__housing,...,4___mostly_yes,NaN,NaN,4___mostly_yes,NaN,NaN,4___mostly_yes,4___mostly_yes,4___mostly_yes,NaN
13,Kathmandu,Dharmasthali,1,25_39,male,Newar,farmer_laborer,no_difficulty,1___not_at_all,long_term_shelter__housing,...,2___very_little,building_mater,cash_for_work,3___neutral,first_come__fi,because_people,3___neutral,1___not_at_all,2___very_little,NaN
14,Kathmandu,Sitapaila,8,15_24,female,Tamang,other,no_difficulty,3___neutral,long_term_shelter__housing,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_dista,based_on_polit,4___mostly_yes,3___neutral,3___neutral,3___neutral
15,Kathmandu,Dharmasthali,1,40_54,male,Newar,ngo_worker_bus,no_difficulty,4___mostly_yes,NaN,...,4___mostly_yes,NaN,NaN,4___mostly_yes,NaN,NaN,4___mostly_yes,3___neutral,4___mostly_yes,NaN
16,Kathmandu,Dharmasthali,1,25_39,male,Newar,farmer_laborer,no_difficulty,1___not_at_all,long_term_shelter__housing,...,4___mostly_yes,NaN,NaN,4___mostly_yes,NaN,NaN,4___mostly_yes,1___not_at_all,4___mostly_yes,NaN
17,Kathmandu,Bajrayogini,8,25_39,female,other,other,no_difficulty,3___neutral,financial_support,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_polit,first_come__fi,3___neutral,3___neutral,3___neutral,3___neutral
18,Lalitpur,Ghusel,8,25_39,male,Chhetri,farmer_laborer,no_difficulty,1___not_at_all,financial_support,...,5___completely_yes,NaN,NaN,3___neutral,first_come__fi,based_on_polit,3___neutral,1___not_at_all,1___not_at_all,NaN
19,Kathmandu,Bajrayogini,8,55_greater,female,Newar,other,no_difficulty,2___very_little,long_term_shelter__housing,...,3___neutral,building_mater,food_aid,2___very_little,first_come__fi,based_on_polit,4___mostly_yes,2___not_very_m,2___very_little,2___very_little

<h3> Rename Columns </h3>

In [8]:
df.columns = ['District', 'Municipality', 'Ward','Age', 'Gender', 'Caste', 'Occupation', 'Health Problem', 
              'Main Problmes Met', 'Biggest Problem', 'Second Biggest Problem', 'Third Biggest Problem', 
              'GOV Satisfaction', 'Top Thing Gov', 'Second Thing Gov', 'Have Information', 'Top Need Info', 
              'Second Need Info', 'NGO Satisfaction', 'Top Need NGO', 'Second Need NGO', 'Support Fair', 
              'Top Reason Not Fair', 'Second Reason Not Fair', 'Prepared', 'Heard', 'Relief Effort Progress', 
              'Main Women Problem']

<h3> Municipality </h3>

In [9]:
df['Municipality'].nunique()

160

In [10]:
df['Municipality'].unique()

array(['Satungal', 'Jhormahankal', 'Sitapaila', 'Dharmasthali',
       'Bajrayogini', 'Ghusel', 'Hetauda Submetropolitan City',
       'changunarayan', 'Bhorle', 'Changunarayan', 'Gairi Bisauna Deupur',
       'Dhaibung', 'Jibanpur', 'Makha', 'Jhaukhel', 'Thakre', 'Pangretar',
       'Dandagaun', 'Jalkanya', 'Ratanchaura', 'chhaling', 'Phulpindada',
       'Nibuwatar', 'Manthali', 'kushadevi', 'Goljung', 'Pipaldada',
       'salyantar', 'kashigaun', 'Bhuwaneswari', 'Salyantar', 'Hanspur',
       'Tilpung', 'sundawati', 'melung', 'Manahari', 'Khadga Bhanjyang',
       'Salyankot', 'Saramthali', 'bhaktpur', 'Ambhanjyang',
       'Chandeni Mandan', 'Prithivi Narayan NP', 'panchkhal', 'Goldhunga',
       'Gotikhel', 'Manikhel', 'lamidada', 'Khalte', 'changunaran',
       'susmachhemawati', 'Phulasi', 'Tupche', 'Thulosiruwari',
       'Kamalamai', 'Barpak', 'Bhimeswor', 'Bhimeshwor', 'Manbu',
       'BHorle', 'Kamalmai', 'Tasarpur', 'Chhatiwan', 'Chilime', 'ryale',
       'Chhatredurali', 'Bhimphedi', 'Chhaling', 'Thulogaun',
       'Ratanchura', 'Kashigaun', 'Simjung', 'Tripura', 'Sangachok',
       'jhaukhel', 'Bhaise', 'Ramche', 'mangaltar', 'Ramechhap', 'bunkot',
       'Laharepauwa', 'Chautara', 'Basheswar', 'Namtar', 'mangatar',
       'Pakarbas', 'Sanosiruwari', 'bhimkhori', 'Samarthali',
       'Sankhupati Chaur', 'Yarsa', 'Aginchok', 'Makwanpurgadhi', 'yarsa',
       'sunakhani', 'sahare', 'Kabhre Nittya', 'Puranagau', 'Irkhu',
       'Sitalpati', 'madhyapur', 'Mulpani', 'Jhangajholi Ratmata',
       'Panchkhal', 'Kalleri', 'Taple', 'Khadha Bhanjyang', 'Hadikhola',
       'Chanakhu', 'Kusheswar Dumja', 'Chhatredeurali', 'laduk', 'kavre',
       'Khoplang', 'Salyankot ', 'nambdu', 'Dadhuwa', 'Nambdu', 'Khimti',
       'Sundarijal', 'Kapan', 'Gailu', 'Gonggabu', 'Khokana', 'Ramkot',
       'Harisiddhi', 'harisiddhi', 'Jhormahankal ', 'Nalang', 'Ratmate',
       'Siddhipur', 'Matatirtha', 'Icchangunarayan', 'Bidur Municipality',
       'Bageshwari', 'Khanigaun', 'badikhel', 'Khiji Phalate',
       'Khiji Chandeshwari', 'Lele', 'Suryamati', 'Harkapur', 'Madanpur',
       'Jharuwarasi', 'Chyanam', 'Lalitpur', 'Salang', 'Budhasing',
       'Siddhicharan Np', 'Charghare', 'Badikhel', 'salang', 'Kunta Devi',
       'Bhattedanda', 'Bigutar', 'Jantar Khani', 'Prapcha', 'Belkot',
       'Baruneshwar', 'Baraneshwar'], dtype=object)

In [11]:
# Capitalize first letter, small else
df['Municipality'] = df['Municipality'].apply(lambda x: x.title())

In [12]:
df['Municipality'].nunique()

148

In [13]:
df['Municipality'].value_counts().to_frame()

                  Municipality
Bhaktpur                    25
Madhyapur                   25
Phulpindada                 20
Panchkhal                   20
Chhaling                    20
...                        ...
Salyankot                    1
Ratanchaura                  1
Khadha Bhanjyang             1
Baraneshwar                  1
Khadga Bhanjyang             1

[148 rows x 1 columns]

In [14]:
df.drop(['Municipality', 'Ward'], axis=1, inplace=True)

In [15]:
df.head()

,District,Age,Gender,Caste,Occupation,Health Problem,Main Problmes Met,Biggest Problem,Second Biggest Problem,Third Biggest Problem,...,NGO Satisfaction,Top Need NGO,Second Need NGO,Support Fair,Top Reason Not Fair,Second Reason Not Fair,Prepared,Heard,Relief Effort Progress,Main Women Problem
0,Kathmandu,40_54,female,Newar,other,no_difficulty,1___not_at_all,long_term_shelter__housing,financial_support,livelihoods,...,4___mostly_yes,NaN,NaN,don_t_know,NaN,NaN,4___mostly_yes,1___not_at_all,don_t_know,1___not_at_all
1,Kathmandu,55_greater,male,Newar,skilled_worker,no_difficulty,2___very_little,long_term_shelter__housing,financial_support,livelihoods,...,2___very_little,building_mater,food_aid,2___very_little,based_on_caste,based_on_polit,4___mostly_yes,2___not_very_m,2___very_little,NaN
2,Kathmandu,55_greater,male,Newar,skilled_worker,no_difficulty,2___very_little,long_term_shelter__housing,financial_support,livelihoods,...,4___mostly_yes,NaN,NaN,2___very_little,based_on_caste,based_on_polit,4___mostly_yes,1___not_at_all,1___not_at_all,NaN
3,Kathmandu,15_24,female,Tamang,other,yes__some_diff,3___neutral,long_term_shelter__housing,education,financial_support,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_dista,first_come__fi,4___mostly_yes,3___neutral,3___neutral,4___mostly_yes
4,Kathmandu,25_39,female,Tamang,other,no_difficulty,3___neutral,short_term_she,long_term_shelter__housing,financial_support,...,3___neutral,building_mater,cash_for_work,3___neutral,based_on_polit,first_come__fi,4___mostly_yes,3___neutral,2___very_little,4___mostly_yes

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 26 columns):
District                  1400 non-null object
Age                       1400 non-null object
Gender                    1400 non-null object
Caste                     1400 non-null object
Occupation                1400 non-null object
Health Problem            1400 non-null object
Main Problmes Met         1400 non-null object
Biggest Problem           1125 non-null object
Second Biggest Problem    1125 non-null object
Third Biggest Problem     1125 non-null object
GOV Satisfaction          1400 non-null object
Top Thing Gov             979 non-null object
Second Thing Gov          979 non-null object
Have Information          1400 non-null object
Top Need Info             802 non-null object
Second Need Info          802 non-null object
NGO Satisfaction          1400 non-null object
Top Need NGO              815 non-null object
Second Need NGO           815 non-null object
Support Fair              1400 non-null object
Top Reason Not Fair       721 non-null object
Second Reason Not Fair    721 non-null object
Prepared                  1400 non-null object
Heard                     1400 non-null object
Relief Effort Progress    1400 non-null object
Main Women Problem        472 non-null object
dtypes: object(26)
memory usage: 284.5+ KB

<h3> Null Values </h3>

In [17]:
df.isna().sum()

District                    0
Age                         0
Gender                      0
Caste                       0
Occupation                  0
Health Problem              0
Main Problmes Met           0
Biggest Problem           275
Second Biggest Problem    275
Third Biggest Problem     275
GOV Satisfaction            0
Top Thing Gov             421
Second Thing Gov          421
Have Information            0
Top Need Info             598
Second Need Info          598
NGO Satisfaction            0
Top Need NGO              585
Second Need NGO           585
Support Fair                0
Top Reason Not Fair       679
Second Reason Not Fair    679
Prepared                    0
Heard                       0
Relief Effort Progress      0
Main Women Problem        928
dtype: int64

In [18]:
df.dropna(subset=['Biggest Problem'], inplace=True)

In [22]:
columns_with_null = [col for col in df.columns if df[col].isnull().any()]

for col in columns_with_null:
    df[col].fillna(df[col].value_counts().index[0], inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1125 entries, 0 to 1399
Data columns (total 26 columns):
District                  1125 non-null object
Age                       1125 non-null object
Gender                    1125 non-null object
Caste                     1125 non-null object
Occupation                1125 non-null object
Health Problem            1125 non-null object
Main Problmes Met         1125 non-null object
Biggest Problem           1125 non-null object
Second Biggest Problem    1125 non-null object
Third Biggest Problem     1125 non-null object
GOV Satisfaction          1125 non-null object
Top Thing Gov             1125 non-null object
Second Thing Gov          1125 non-null object
Have Information          1125 non-null object
Top Need Info             1125 non-null object
Second Need Info          1125 non-null object
NGO Satisfaction          1125 non-null object
Top Need NGO              1125 non-null object
Second Need NGO           1125 non-null object
Support Fair              1125 non-null object
Top Reason Not Fair       1125 non-null object
Second Reason Not Fair    1125 non-null object
Prepared                  1125 non-null object
Heard                     1125 non-null object
Relief Effort Progress    1125 non-null object
Main Women Problem        1125 non-null object
dtypes: object(26)
memory usage: 237.3+ KB

<h3> One Hot Encoding </h3>

In [ ]:
pd.concat([pd.get_dummies(df['District']), pd.get_dummies(df['Age']), pd.get_dummies(df['Gender']), 
           pd.get_dummies(df['Caste']), pd.get_dummies(df['Occupation'])], axis=1)